.starter {
  font-size: 18px;
  width: 100wh;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.title {
  position: absolute;
  top: 10px;
  margin: 0 auto;
  z-index: 10;
}

.button {
  position: absolute;
  top: 70px;
  margin: 0 auto;
}

.card {
  width: 15rem;
  height: 10rem;
  box-sizing: border-box;
  border-radius: 10px;
  border: 1px solid black;
  margin: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: grab;

  &:hover {
    transform: scale(1.01);
    box-shadow: 2px 2px 12px 2px rgba(77, 77, 133, 0.2);
  }

  :active {
    cursor: grabbing;
  }
}
